body {
    margin: 0px;
    background: #2ecc71;
    font-family: 'Helvetica';
}

.player {
    margin: 50px auto 0 auto;
    max-width: 500px;
    min-width: 300px;
    border-radius: 25px;
    background: #fff;

    -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.22);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.22);
}

.player .visual canvas{
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}

.playlist {
    padding: 20px;
}

.controls {
    padding: 20px;
}
.controls .time-control{
    position: relative;
    padding: 0 40px 30px 40px;
}
.controls .time-line {
    position: relative;
    width: 100%;
    height: 9px;
}

.controls .time-line .all {
    position: relative;
    height: 1px;
    top: 4px;
    background: #d1d3df;
}

.controls .time-line .played {
    position: absolute;
    height: 3px;
    top: 3px;
    background: #e597d9;
}
.controls .time{
    position: absolute;
    top: -3px;
    font-size: 12px;
    color: #95a5a6;
    font-weight: 100;
}
.controls .timeA{
    left: 0;
}
.controls .timeB{
    right: 0;
}
.controls .buttons{
    margin: 0 auto;
    text-align: center;
    width: 200px;
}
.controls i {
    font-size: 22px;
    margin: 0 15px;
    color: #d1d3df;
    cursor: pointer;
}

.controls i:hover {
    color: #bcc0d5;
}